<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h3>发表评论 <small>comment</small></h3>
    <form method="get" action="/comment">
      <div class="form-group">
        <label for="cname">姓名</label>
        <input maxlength="20" type="text" class="form-control" name="cname" id="cname" placeholder="姓名">
      </div>
      <div class="form-group">
        <label for="comment">评论内容</label>
        <textarea maxlength="50" class="form-control" rows="3" name="comment" id="comment" placeholder="评论内容..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">发表评论</button>
      <a href="/" class="btn btn-default">返回首页</a>
    </form>
  </div>
</body>
</html>