<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>评论</title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>
      评论一览 <a href="/comment" class="btn btn-default">去评论</a>
    </h1>
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>评论内容</th>
        <th>评论时间</th>
        <th>评论人</th>
      </thead>
      <tbody>
        {{ each commentList}}
        <tr>
          <td>{{ $index }}</td>
          <td>{{ $value.comment }}</td>
          <td>{{ $value.date }}</td>
          <td>{{ $value.cname }}</td>
        </tr>
        {{ /each }}
      </tbody>
    </table>
  </div>
</body>
</html>